/*header styling*/

.header {
  display: flex;
  min-height: 25px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border: black solid 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title{
  color: MediumAquaMarine;
  padding-top: 8px;
  padding-left: 8px;
}

.logobox{
  display: flex;
  border: 1px solid black;
}

.header-nav {
  list-style: none;
  display: inline-block;
  text-align: left;
}

.header-nav li{
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
  margin: 0 10px;
}

.header-nav a{
  color: black;
}

/*main container styling*/
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 50px 0 50px;
  border: 1px solid black;
}

.article-title{
  padding: 10px 0;
  font-size: 26px;
  /*border: 1px solid black;*/
  margin: 0;
  }

.byline{
  text-transform: uppercase;
}

.column{
  margin: 10px 20px 0 20px;
  border: 1px solid black;
  align-items: center;
}

article{
  border: 1px solid black;
  padding-bottom: 10px;
}

#blurb{
  padding: 0;
  font-weight: normal;
  margin: 0;
}


/*large container styling*/
.large{
  display: flex;
  flex-direction: column;
  width: 630px;
  /*border: 1px solid black;*/
}

.leader-title{
  margin: 0 0 15px 0;
  border: 1px solid black;
}

.phish{
  /*border: 1px solid black;*/
}


.orcas{
  /*border: 1px solid black;*/
}

article.earth{
  border: 1px solid black;
  padding: 0;
}

.breakfast{
  border: 1px solid black;
}

article.cameras{
  border: 1px solid black;
  padding: 0;
}
/*middle column styling*/
.medium{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 300px;
}

.actionstar{

}

/*last column styling*/
.small{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 240px;
}
