/*header styling*/

.header {
  display: flex;
  min-height: 25px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  border-bottom: black solid 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title{
  color: MediumAquaMarine;
  padding-top: 8px;
  padding-left: 8px;
}

.logobox{
  display: flex;
}

.header-nav {
  list-style: none;
  display: inline-block;
  text-align: left;
}

.header-nav li{
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
  margin: 0 10px;
}

.header-nav a{
  color: black;
}

/*main container styling*/
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*first container styling*/
.large{
  display: flex;
  flex-direction: column;
  width: 630px;
  border: 1px solid black;
}

h1{
  border: 1px solid black;
}

.phish{
  border: 1px solid black;
}

.orcas{
  border: 1px solid black;
}

.earth{
  border: 1px solid black;
}

.breakfast{
  border: 1px solid black;
}

.cameras{
  border: 1px solid black;
}
/*middle column styling*/
.medium{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 300px;
}

/*last column styling*/
.small{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 240px;
}
